.row
{
	display: flex;
	flex-direction: row;
}
div.row
{
	width: 100%;
	text-align: center;
}
div
{
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: center;
}
img
{
	width:100%;
}
